src/test/resources/systemtests/schemas/SecondSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/SecondSchema" xmlns:tns="http://www.example.org/SecondSchema" elementFormDefault="qualified">
  <element name="A">
  <complexType>
  <sequence>
    <element name="B">
    <complexType>
      <attribute name="id" type="string"/>
    </complexType>
    </element>
    <element name="C" minOccurs="1" maxOccurs ="unbounded">
    <complexType>
      <sequence>
        <element name="Ca" type="int"/>
        <element name="Cb" type="int" maxOccurs="unbounded"/>
      </sequence>
    </complexType>
    </element>
  </sequence>
  </complexType>
  </element>


</schema>