src/test/resources/systemtests/schemas/ThirdSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/ThirdSchema" xmlns:tns="http://www.example.org/ThirdSchema" elementFormDefault="qualified">



    <element name="A">
      <complexType>
        <sequence>
          <element name="C" type="string"></element>
        </sequence>
      </complexType>
    </element>
    
    <element name="B" type="string"></element>
</schema>